body
{
    line-height: 2.5rem;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.nav {
    background-color: grey;
}

.nav-item {
    background-color: darkgray;
}

.title
{
    width: 100%;
    text-align: center;
}
.title h2
{
    color: rgb(190, 78, 78);
    font-weight: 600;
    font-size: 40px;
    
}

.aboutme p
{   
    max-width: 600px;
    display: inline-block;
    color: #8ee4af;
    font-size: 23px;
}
.aboutme
{
    background-image: url("spacebackground1.png");
    background-size: cover;
    height: 100vh;
}

.aboutme img
{
    height: 275px;
    position: static;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.resume {
    background-image: url("spacebackground1.png");
    height: 100vh;
}

.resume img
{
    height: 275px;
    position: static;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.resume h3
{
    color: rgb(190, 78, 78);
    font-weight: 600;
    font-size: 40px;
    
}

.corgitext {
    text-align: center;
    font-weight: lighter;
}

.resume p
{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 700px;
    display: inline-block;
    color: #8ee4af;
}
.work
{
    background-image: url("spacebackground1.png");
    background-size: cover;
    color: rgb(190, 78, 78);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.column img
{
    background-color: tan;
    padding: 10px;
    margin: 5px;
    height: 200px;
    width: 200px;
    max-width: 100%;
    cursor: pointer;
}
.column 
{
    height: 40vh; 
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 30px;
    width: 33.33%;
  }
  .row::after 
  {
    content: "";
    clear: both;
    display: table;
  }

h4
  {
    font-size: 35px;
    font-weight: 500;
  }
  .contact-me h3
{
    color: tan;
    font-weight: 600;
    font-size: 40px;
    
}


.contact-me  p
{
    display: inline-block;
    color: #8ee4af;
}
.contact-me 
{
    position: fixed;
    z-index: -1px;
    bottom: 0px;
    width: 100%;
    height: 20%;
    background-color: darkgrey;
}
@media screen and (max-width: 992px) 
  {
    .column {
      width: 50%;
      height: 50%;
    }
    .aboutme img
    {
        width: 20%;
        height: 15%;
    }
    .resume img
    {
        display: none;
    }
    .work img
    {
        width: 85%;
        height: 85%;
    }
  }
  