body
{
    line-height: 2.5rem;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.menuButton
{
    position: fixed;
    top: 25px;
    left: 35px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background : #fff url(icons8-menu-64.png);
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 150;
    max-width: 100%;
}

.menuButton.active
{
    background : #fff url(icons8-x-men-64.png);
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 150;
    max-width: 100%;
}

.sideMenu
{
    position: fixed;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 1;
    left: -100%;
    text-transform: uppercase;
    max-width: 100%;
}
.sideMenu.active
{
    z-index: 2;
    left: 0;
    background: #000;
    width: 20%;
    padding-top: 8px;
    padding-bottom: 8px;
    max-width: 100%;
}

.sideMenu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sideMenu ul li
{
    list-style: none;
}
.sideMenu ul li a
{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px 0;
    font-weight: 500;
    text-transform: uppercase;
}

.sideMenu ul li a:hover
{
    color: tan;
}
.title
{
    width: 100%;
    text-align: center;
}
.title h2
{
    color: whitesmoke;
    font-weight: 600;
    font-size: 40px;
    
}

.aboutme p
{   
    max-width: 600px;
    display: inline-block;
    color: whitesmoke;
    font-size: 23px;
}
.aboutme
{
    background-image: url("background.jpg");
    background-size: cover;
}

.aboutme img
{
    height: 300px;
    position: static;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.resume h3
{
    color: whitesmoke;
    font-weight: 600;
    font-size: 40px;
    
}

.resume p
{
    max-width: 700px;
    display: inline-block;
    color: whitesmoke;
}
.work
{
    background-image: url(background1.jpg);
    background-size: cover;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.column img
{
    background-color: tan;
    padding: 10px;
    margin: 10px;
    height: 300px;
    width: 250px;
    max-width: 100%;
    cursor: pointer;
}
.column 
{
    height: 48vh; 
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 30px;
    width: 33.33%;
  }
  .row::after 
  {
    content: "";
    clear: both;
    display: table;
  }

h4
  {
    font-size: 35px;
    font-weight: 500;
  }
  .contact-me h3
{
    color: tan;
    font-weight: 600;
    font-size: 40px;
    
}

.contact-me  p
{
    display: inline-block;
    color: black;
}
.contact-me 
{
    background-color: lightgrey;
}
  @media screen and (max-width: 992px) 
  {
    .column {
      width: 50%;
      height: 50%;
    }
    .aboutme img
    {
        width: 25%;
        height: 25%;
    }
  }
  
  @media screen and (max-width: 600px) 
  {
    .menuButton {
      display: none;
    }
  }